.student{
  width: 100%;
  background-color: cornflowerblue;
  border-collapse: collapse;
}

.demo{
    background-color: grey;
}
  .demo:hover{
    background-color: yellow;
}  
.head:nth-child(even){
  background-color: green;
}
.head:hover:nth-child(even){
  background-color: blue;
}